<h1>Register List</h1>

<mat-accordion *ngIf="!loading">

	<mat-expansion-panel hideToggle *ngFor="let register of registers">
		<mat-expansion-panel-header>

			<mat-panel-title>
				<mat-icon class="down">arrow_drop_down</mat-icon>
				<strong>Name:&nbsp;</strong> {{register.name}}
			</mat-panel-title>

			<mat-panel-description>
				<button mat-icon-button class="delete" (click)="$event.stopPropagation(); deleteRegister(register.id)"
					aria-label="Delete Register">
					<mat-icon>delete</mat-icon>
				</button>
			</mat-panel-description>

		</mat-expansion-panel-header>

		<app-form [type]="'updateRegister'" [register]="register"></app-form>

	</mat-expansion-panel>

</mat-accordion>

<mat-paginator *ngIf="registers" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
	(page)="pageEvent($event)">
</mat-paginator>

<div *ngIf="loading">Loading...</div>