<form name="formRegister" [formGroup]="formRegister">
	<div class="form">

		<mat-form-field color="#e03600" appearance="outline">
			<mat-label>Name</mat-label>
			<input matInput formControlName="name">
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>E-mail</mat-label>
			<input matInput formControlName="email">
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Phone</mat-label>
			<input mask="(00) 0000-00000" matInput formControlName="phone">
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>CEP</mat-label>
			<input mask="00.000-000" matInput formControlName="cep">
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Street</mat-label>
			<input matInput formControlName="street">
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Neighborhood</mat-label>
			<input matInput formControlName="neighborhood">
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Number</mat-label>
			<input matInput formControlName="number">
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Coomplement</mat-label>
			<input matInput formControlName="complement">
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>City</mat-label>
			<input matInput formControlName="city">
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>UF</mat-label>
			<input matInput formControlName="uf">
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Password</mat-label>
			<input type="password" matInput formControlName="password">
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Repeat the password</mat-label>
			<input type="password" matInput formControlName="repeatPassword">
		</mat-form-field>

	</div>
	<div class="button-row">
		<button *ngIf="type === 'updateRegister'" type="submit" (click)="updateRegister(register.id)" mat-flat-button
			color="primary">Update</button>
		<button *ngIf="type === 'newRegister'" type="submit" (click)="saveRegister()" mat-flat-button
			color="primary">Register</button>
	</div>
</form>