/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800|Shadows+Into+Light&display=swap");

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: "Manrope", sans-serif;

	a {
		text-decoration: none;
		color: #2671BA;
		transition: all 0.6s;
		&:hover {
			text-decoration: none;
			color: #666;
		}
	}
}

h1 {
	font-size: 30px;
	color: #cecece;
	@media screen and (max-width: "768px") {
		text-align: center;
	}
}

button {
	border: 0;
	background: transparent;
	cursor: pointer;
	&:focus {
		outline: -webkit-focus-ring-color auto 0px;
	}

	&.edit {
		color: #001e82;
	}
	&.delete {
		color: #2671BA;
	}
}

.mat-toolbar-single-row {
	height: initial !important;
	min-height: 64px !important;
	padding: 10px 20px !important;
}

.mat-accordion {
	.mat-expansion-panel {
		box-shadow: none !important;
		border: 1px solid #cecece;
		margin-bottom: 10px;
		border-radius: 0px;
		&:first-child {
			border-radius: 5px 5px 0px 0px;
		}

		&:last-child {
			border-radius: 0px 0px 5px 5px;
		}
	}
	.mat-expansion-panel-header {
		padding: 0 10px 0 10px;
		transition: all 0.5s;
		&:hover {
			background: #cecece;
			font-weight: 800;
		}
		.down {
			margin-right: 10px;
		}
		.mat-expansion-panel-header-title {
			align-items: center;
		}
		.mat-expansion-panel-header-description {
			justify-content: flex-end;
			margin-right: 0px;
		}
	}
}

.mat-expansion-panel-body {
	border-top: 1px solid #cecece !important;
	padding: 20px !important;
}

.mat-flat-button {
	&.mat-primary {
		background-color: #2671BA;
		padding: 0 45px;
		@media screen and (max-width: "768px") {
			width: 100%;
		}
	}
}

.mat-paginator-container {
	margin-top: 20px;
	margin-bottom: 20px;
	@media screen and (max-width: "768px") {
		justify-content: center !important;
	}
}

.mat-form-field-appearance-outline {
	.mat-form-field-outline-thick {
		color: #2671BA !important;
	}
}

.mat-form-field {
	&.mat-focused {
		.mat-form-field-label {
			color: #2671BA !important;
		}
	}
}

.form {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	@media screen and (max-width: "768px") {
		grid-template-columns: auto;
		grid-gap: 20px;
	}
}

.mat-form-field {
	margin-bottom: -24px;
}

.button-row {
	margin-top: 30px;
	display: flex;
	justify-content: flex-end;
	@media screen and (max-width: "768px") {
		flex-direction: column;
		justify-content: center;
	}
	button {
		margin-left: 10px;
		@media screen and (max-width: "768px") {
			width: 100%;
			margin-top: 10px;
			margin-left: 0px;
		}
		&.mat-stroked-button {
			color: #2671BA;
			border-color: #2671BA;
			padding: 0 45px;
		}
	}
}
