//
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	&.top {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@media screen and (max-width: "768px") {
			grid-template-columns: auto;
		}
		.slogan {
			@media screen and (max-width: "768px") {
				width: 100%;
				text-align: center;
			}
			h2 {
				margin: 0;
				padding: 0;
				font-size: 26px;
				line-height: 32px;
				font-family: "Shadows Into Light", cursive;
				font-weight: 400;
				color: #2671ba;
			}
			p {
				margin: 0;
				padding: 0;
				font-size: 14px;
				line-height: 20px;
				font-weight: 300;
				color: #666;
			}
		}
		nav {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;

			.nav-link {
				font-family: "Manrope", sans-serif;
				font-size: 18px;
				line-height: 20px;
				font-weight: 600;
				padding: 10px 20px;
				border-radius: 4px;
				border: 2px solid #cecece;
				margin: 0 5px;
				color: #666;
				height: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: row;
				span {
					font-weight: 800;
					padding-left: 7px;
					font-size: 30px;
				}
				&:hover {
					background: #ffffff;
					color: #2671ba;
				}
				&.active {
					border: 2px solid #2671ba;
					color: #2671ba;
					background: #ffffff;
					&:hover {
						color: #2671ba;
					}
				}
				@media screen and (max-width: "768px") {
					width: 100%;
					text-align: center;
					margin-top: 20px;
					margin-bottom: 10px;
				}
			}
		}
	}

	.inner-container {
		width: 100%;
		@media screen and (max-width: "1200px") {
			padding: 0 25px;
		}
	}
	&.principal-area {
		min-height: 77vh;
		padding-bottom: 30px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		a {
			width: 100%;
			max-width: 300px;
			margin: 20px 70px 0 0;
			@media screen and (max-width: "768px") {
				display: none;
			}
		}
		img {
			width: 100%;
			max-width: 300px;
			transition: all 0.6s;
			opacity: 0.8;
			&:hover {
				opacity: 1;
				-webkit-animation: wobble-hor-bottom 0.8s both;
				animation: wobble-hor-bottom 0.8s both;
			}
			
		}
	}
}

footer {
	padding: 10px 20px 20px 20px;
	text-align: center;
	font-size: 14px;
	color: #cecece;
}

@-webkit-keyframes wobble-hor-bottom {
	0%,
	100% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	15% {
		-webkit-transform: translateX(-30px) rotate(-6deg);
		transform: translateX(-30px) rotate(-6deg);
	}
	30% {
		-webkit-transform: translateX(15px) rotate(6deg);
		transform: translateX(15px) rotate(6deg);
	}
	45% {
		-webkit-transform: translateX(-15px) rotate(-3.6deg);
		transform: translateX(-15px) rotate(-3.6deg);
	}
	60% {
		-webkit-transform: translateX(9px) rotate(2.4deg);
		transform: translateX(9px) rotate(2.4deg);
	}
	75% {
		-webkit-transform: translateX(-6px) rotate(-1.2deg);
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
@keyframes wobble-hor-bottom {
	0%,
	100% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	15% {
		-webkit-transform: translateX(-30px) rotate(-6deg);
		transform: translateX(-30px) rotate(-6deg);
	}
	30% {
		-webkit-transform: translateX(15px) rotate(6deg);
		transform: translateX(15px) rotate(6deg);
	}
	45% {
		-webkit-transform: translateX(-15px) rotate(-3.6deg);
		transform: translateX(-15px) rotate(-3.6deg);
	}
	60% {
		-webkit-transform: translateX(9px) rotate(2.4deg);
		transform: translateX(9px) rotate(2.4deg);
	}
	75% {
		-webkit-transform: translateX(-6px) rotate(-1.2deg);
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
