<mat-toolbar>
	<div class="container top">
		<div class="slogan">
			<a href="/register-list">
				<h2>Simple CRUD</h2>
				<p>ANGULAR 9 + SQLite + Express.js</p>
			</a>
		</div>
		<nav>
			<a class="nav-link" routerLinkActive="active" routerLink="/register-list">Register List</a>
			<a class="nav-link" routerLinkActive="active" routerLink="/new-register">New register <span>+</span></a>
		</nav>
	</div>
</mat-toolbar>

<div class="container principal-area">
	<a href="http://www.alvarolopes.com.br" target="_blank">
		<img src="assets/images/alvaro-careca.svg" alt="">
	</a>
	<div class="inner-container">
		<router-outlet></router-outlet>
	</div>
</div>

<footer>
	Developed by Alvaro Lopes - <a href="mailto:contato@alvarolopes.com.br" target="_blank">
		contato@alvarolopes.com.br</a> -
	<a href="http://www.alvarolopes.com.br" target="_blank">www.alvarolopes.com.br</a>
</footer>